.app{
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 21% 79%;
  background-color: rgb(10, 0, 0);
}

.sidebar{
  border-right: 1px solid rgba(211, 111, 111, 0.215);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(45deg, rgba(0, 10, 10, 0.65), rgba(10, 0, 0, 0.45));
  /* filter:drop-shadow(0 0 16px rgba(255, 0, 0, 0.4)); */
}

.notes-area{
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  --mask: linear-gradient(to bottom, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 75%, 
  rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
) 100% 50% / 100% 100% repeat-x;

border: none;
font: 2em/1.6em Arial;
-webkit-mask: var(--mask); 
mask: var(--mask);
}


.side-title{
  display: flex;
  flex-direction: row;
  padding: 12px 8px;
  place-items: center;
  padding-left: 20px;
  /* place-content: center; */
  border-bottom: 1px solid rgba(211, 111, 111, 0.215);
  gap:12px;
  background: linear-gradient(190deg, transparent,#ffccd00c);
}
.side-title > img{
  width: 35px;
}

.side-title > p{
  line-height: 20px;
  margin:0;
  padding:0;
  color:  #F45B69;
  font-weight: 600;
  font-size: 16px;
}
.side-title > p > strong{
 font-weight: 200;
}

.side-search{
  background-color: rgb(6, 8, 6);
  border: 1px solid rgba(211, 111, 111, 0.2); 
  outline:none;
  border-radius: 12px;
  padding:6px 14px;
  margin: 8px 14px;
  font-family: inherit;
  font-size: 14px;
  min-width: 60%;
  color:white;
}

.side-search:focus{
  transition: 0.4s;
  border: 1px solid rgba(211, 111, 111, 0.6); 
}


.side-tabs{
  display: flex;
  place-content: center;
  place-items: center;
  gap:24px;
  background: linear-gradient(180deg, #ffccd00c,transparent);
  padding: 4px 0px;
  padding-top: 8px;
}

.side-tabs > button{
  outline: none !important;
  border: none;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  line-height: 16px;
  padding: 4px;
  border-radius: 0;
  margin-top: 0;
  border-bottom: 1.4px solid transparent;
}

.side-tabs > button:hover{
  border-bottom: 1.4px solid rgb(65, 58, 58);
}

.side-tabs > .active,.side-tabs > .active:hover{
  border-bottom: 1.4px solid #F45B69;
}





.side-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  padding:4px 16px;
  cursor: pointer;
  margin: 3px 6px;
  font-weight: 600;
  font-size: 15px;
  min-height: 24px;

  animation: slide-in 0.5s;
  filter:grayscale();
  opacity: 0.9;
} 

.side-item:last-child{
  margin-bottom: 17.5vh;
}

@keyframes slide-in {
  0%{
    margin: 10px 6px;
  }
  100%{
    margin: 3px 6px;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.side-item > p{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 17px;
}


.side-item > p > a{margin-left: 2.5px;font-size: 10px; transition: 0.3s;animation:fade-in 0.7s;}
.side-item > p > .new{color:rgba(243, 202, 79,0.9)}
.side-item > p > .private{color:rgba(244, 91, 104, 0.9)}
.side-item > p > .shared{color:rgba(83, 91, 242, 0.9)}


.no-items{
  display: block;
  text-align: center;
  line-height: 24px;
  cursor: default;
}

.no-items:hover{
  background: transparent !important;
}


.side-icons{
  display: flex;
  flex-direction: row;
  gap: 8px;
  place-items: center;
  place-content: center;
}


.side-icons > img{
  text-align: right;
  width: 16px;
  height: 16px;
  filter:grayscale();
  transition: 0.4s;
  padding: 3px;
  opacity: 0;
}

.side-icons:hover > img{
  opacity: 0.5;
}

.side-item-selected > .side-icons > img{
  opacity: 0.5;
}

.side-item > .side-icons > img:hover{
  filter:none;
  opacity: 1;
  background-color: rgb(6, 8, 6);
  border-radius: 16px;
}


.side-item:hover{
  transition: 0.4s;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  filter: none;
  opacity: 1;
} 

.side-item:hover > .side-icons > img{
  opacity: 1;
}

.side-item-selected{
  transition: 0.4s;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  filter: none;
  opacity: 1;
}


.side-btns {
  position: absolute;
  bottom: 10px;
  left:10px;
  display: flex;
  flex-direction: row;
  gap:8px;
}

.side-btns > button{
  display: flex;
  place-items: center;
  gap:8px;
  background-color: rgba(255, 255, 255, 0.033);
  outline:1px solid rgba(255, 255, 255, 0.128);
  border: none;
  transition: 0.4s;
  opacity: 0.6;
  color:white;
  font-size: 14px;
  padding: 8px 10px;
}

.side-btns> button:hover{
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.1);
  outline:1px solid white;
  opacity: 1;
}

.side-btns> button > img{
  width: 20px;
  height: 20px;
}



.note-title,.note-title:disabled{
  font-family:inherit;
  font-size: 50px;
  padding:10px 0px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color:#f45b68c8;
  font-weight: 500;
}

.note-create{
  display: flex;
  text-align: center;
  place-content: center;
  place-items: center;
  width: 100%;
  margin: 8px;
}

.note-create > button{
  outline: none;
  border: none;
  background-color: white;
  color:black;
  font-family: inherit;
  font-weight: 500;
  padding:0;
  margin:0;
  height: 26px;
  width: 26px;
  border-radius: 10px;
}

.note-create > button:hover{
  transition: 0.4s;
  color:white;
  background-color:  #F45B69;
}

.note-content{
  word-wrap: break-word;
  min-height: 60vh;
}

.note-content > * > img{
  border-radius: 6px;
  border: 1px solid #f45b6887;
}

@keyframes slide-in2 {
  0%{
    margin-top:50vh;
  }
  100%{
    margin-top: 0px;
  }
}


.note-content:focus,.note-title:focus{
  border: none;
  outline: none;
}

a{
  cursor: pointer;
}

hr.rounded {
  border:none;
  background-color: #f45b6880;
  height: 1.2px;
  border-radius: 4px;
  margin:12.5px 12.5px;
}

.main-div{
  background-color: rgb(6, 8, 6);
  padding: 20px 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: slide-in2 1s;
}

.main-div-inner{
  padding:1vw 1vw;
  margin-bottom: 20rem;
}

.main-controls{
  position: absolute;
  z-index: 1;
  right: 20px;
  border-radius: 18px;
  width: auto;
  display: flex;
  gap:12px;
  padding:8px;
  background-color: rgba(6,8,6,0.95);
  filter:drop-shadow(0 0 0.5px rgba(161, 66, 66, 0.6));
  opacity: 0.8;
  transition: 0.4s;
}

.main-controls:hover{opacity: 1;}

.main-controls > div{
  outline: none;
  border: none;
  border-radius: 14px;
  transition: 0.4s;
  display: flex;
  place-content: center;
  place-items: center;
  gap:6px;
  padding:6px 10px;
  cursor: pointer;
  font-size: 15px;
}

.share-icon{

  background-color:white;
  color:black;
}

.share-icon > p{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: inherit;
}

.share-icon > img{
  width: 16px;
  height: 16px;
}

.share-icon:hover{
  transition: 0.4s;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.455) );
}


.edit-icon{
  color:#F45B69;
  background-color: transparent;
  outline: 1px solid #F45B69 !important;
}

.edit-icon > p{
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: inherit;
}


.edit-icon > img{
  width: 16px;
  height: 16px;
}


.edit-icon:hover{
  transition: 0.4s;
  filter: drop-shadow(0 0 6px #f45b689a );
}


.rem-tokens{
  display: flex;
  margin-right:10px;
  flex-direction: column;
  gap:0px;
  place-content: center;
  place-items: center;
  background-color: #fd949d06;
  padding: 2px;
  transition: 0.4s;
  cursor: pointer;
}

.rem-tokens:hover{
  background-color: #fd949d09;
}

.rem-tokens > p{
  padding: 0;
  margin: 0;
  font-weight:400;
  color:rgb(131, 110, 110);
  font-size: 9px;
  cursor: pointer;
}

.rem-tokens > progress{
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 4px;
	border-radius: 20px;
  transition: 0.2s;
}

.rem-tokens > progress[value] {
  --color: rgb(197, 172, 172); 
  --full-color:rgb(244, 97, 97); 
  --background: rgb(29, 29, 29);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
  transition: 0.2s;
}
.rem-tokens > progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
.rem-tokens > progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
.rem-tokens > progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

.rem-tokens > progress[full=true]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--full-color);
}
.rem-tokens > progress[full=true]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--full-color);
}



.sv-to-cloud{
  transition: 0.1s;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: default;
}

.sv-to-cloud > p {
  font-size: 12px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color:#F45B69;
}

.sv-to-cloud > img {
  width: 14px;
  height: 14px;
}

.gray{
  filter:grayscale();
}

.sync-rotate {
  animation: rotate-sync 1.4s infinite linear;
}

@keyframes rotate-sync {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.mobile-dev{
  display: none;
}


@media only screen and (max-width: 600px) {
  .mobile-dev{
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: black;
    z-index: 9999;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    font-size: 10px;
    padding:5vw;
    overflow: hidden;
    gap:5vh;
  }

  .mobile-dev>img{
    width: 30vw;
  }
  
}




.emoji-title{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap:10px;
  place-content: center;
  place-items: center;
}

.emoji-con{
  border-radius: 18px;
  position: relative;
  transition: 0.4s;
  border: 1px solid rgb(12, 16, 12);
  cursor: pointer;
  width: 66px;
  height:54px;
  display: flex;
  place-content: center;
  place-items: center;
}

.emoji-con:hover{
  border: 1px solid rgb(26, 30, 26);
}


.emoji-con > p{
  transition: 0.6s;
  padding: 0;
  margin: 0;
  color: rgb(72, 72, 72);
  font-size: 32px;
  text-align: center;
}

.emoji-con:hover > p{
  color: rgb(100, 100, 100);
}

.untitled-note{
padding: 0;
margin: 0;
opacity: 0.6;
}

.center-screen{
  display: flex;
  place-content: center;
  place-items: center;
  height: 80%;
  width: 100%;
  background-color: rgb(6, 8, 6);
}


@keyframes scale-in-fade {
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
  
}

.shared-users{
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  border-radius: 8px;
  max-width: 65px;
  height: 24px;
  padding: 4px;
  animation: scale-in-fade 0.4s;
}

.shared-users > p{
  place-content: center;
  font-size: 15px;
  color: rgba(255, 168, 168, 0.633)
}

.shared-users-sm{
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-radius: 8px;
  min-width: 16px;
  max-width: 40px;
  height: 26px;
}

/*overflow images on top of eachother with some offest between them*/
.shared-users-sm > img{
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 2px solid rgb(6, 8, 6);
  transition: 0.4s;
  background-color: rgb(6, 8, 6);
  transform: translate(-8px,0px);
}

.shared-users-sm > img:nth-child(1){
  z-index: 2;
  opacity: 1;
  filter:drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  transform: translate(-8px,0px);
}

.shared-users-sm > img:nth-child(2){
  z-index: 1;
  opacity: 0.8;
  transform: translate(8px,0px);
}
