
.code{
    margin: 1%;
    padding:16px 24px;
    padding-bottom: 8px;
    padding-top:8px;
    background-color: rgba(6, 8, 6, 0.6) !important;
    border-radius: 8px !important;
    width: 100%;
  
    border: 1px solid rgba(128, 128, 128, 0.1) !important;
    transition: 0.4s;
  }


  
  .code > *> *{cursor:text;}
  
  .code:hover{
    background-color: rgba(255,255,255,0.01);
  }
  
  
  .cd-flex{
    font-size: 13px;
    color:#434343;
    font-family: inherit;
    font-weight: 500;
    padding-bottom:8px;
    display: flex;
    justify-content: space-between;
  }
  
  .cd-logo{
    padding-top: 8px;
    display: flex;
    place-items: center;
    place-content: center;
    font-size: 8px;
    font-weight: 400;
    color:#4c4c4c;
    opacity: 0.4;
    letter-spacing: 1.5px;
  }
  
  .cd-logo > img{
    object-fit: contain;
    width: 7px;
    height: 7px;
    position: relative;
    top:0;
    left: 0;
    padding: 0;
    margin: 0 1px;
    background-color: #4c4c4c;
    border-radius: 11px;
    padding:1px;
    filter: grayscale() opacity(0.6);
  }
  
  
  .cd-copy{
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    gap: 6px;
    font-size: 12px;
  }
  
  
  .cd-copy >img{
    width: 18px;
    height: 18px;
    padding:4px;
    background-color: #4c4c4c;
    opacity: 0.2;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .cd-copy>img:hover{
    opacity: 0.4;
  }
  
  
  .cd-flex > div > select{
    font-size: 12px;
    font:inherit;
    padding:4px 12px;
    color: gray;
    outline: none;
    border: none;
    border-radius: 8px;
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.1);
  }
  
  
  .cd-collapse{
    position: relative;
    top:0px;
    
  
    width: 18px;
    height: 18px;
    padding:4px;
    background-color: #ffffffe2 !important;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
  
    transform: rotate(90deg);
    transition: 0.4s;
  }
  
  .cd-rot{
    transition: 0.4s;
    transform: rotate(270deg);
  }
  
  .cd-collapse:hover{
    background-color: #ffffff !important;
  }
  