.conf-dialog{
    position: absolute;
    background-color: rgba(5, 0, 0, 0.7);
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    place-content: center;
    place-items: center;
    z-index: 2000;

    animation: conf-fade-in 0.3s;
}


@keyframes conf-fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.conf-dialog-hidden{
    display: none;
}

.conf-dialog > div{
    font-size: 16px;
    min-width: 20vw;
    max-width: 40vw;
    background: linear-gradient(45deg, rgba(0, 10, 10, 1), rgba(10, 0, 0, 1));
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(211, 111, 111, 0.215);
    white-space: pre-wrap;
}

.conf-dialog > div > h4{

    margin:0;
    padding:0;
    margin-top:10px;
    font-size: 18px;
} 

.conf-dialog > div > div{
    display: flex;
    flex-direction: row;
    place-content: flex-end;
    gap:10px;
}

.conf-btn{
    font-size:14px;
    border: none;
    outline: none;
    color:black;
    background-color:  white;
    transition: 0.4s;
    outline: 1px solid white;
    opacity: 0.9;
}

.conf-btn:hover{
    background-color:black;
    color:  white;
    opacity: 1;
}

.conf-can-btn{
    font-size:14px;
    border: none;
    outline: none;
    background-color:transparent;
    color:  #F45B69;
    transition: 0.4s;
    outline: 1px solid #F45B69;
    opacity: 0.7;
}

.conf-can-btn:hover{
    color:white;
    background-color:  #F45B69;
    opacity: 1;
}