
.pomodoro-sm{
    position: absolute;
    bottom:42px;
    right:32px;

    border-radius: 32px;
    background-color: #060606;
    height:32px;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    place-content: center;
    place-items: center;
    border: 1px solid #322b2d;
    filter: drop-shadow(0 0 16px #ff7b8618);
    gap:7.5px;
    padding:2px 0px;
    z-index: 999;
    color:gray;
}


.pomodoro-sm > img:hover{
    transform: scale(1.1);
    background-color: #ff7b86;
}

.pomodoro-sm > img{
    cursor: pointer;
    transition: 0.4s;
    padding:8px;
    border-radius: 32px;
    width: 28px;
    height: 28px;
    background-color: #F45B69;
}

.pomodoro-sm > h3{
    font-family: inherit;
    font-size: 18px;
    color: rgb(205, 205, 205);
}

.pomodoro-sm > p{
    color:gray;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    
    display: flex;
    flex-direction:column;
    gap:0;
}

.pomodoro-sm  > a{
    color: #ff7b86;
    font-size: 12px;
    display: block;
    padding: 0;
    padding-left: 12px;
    margin:0;
    font-weight: 200;
}

.pmd-green{
    background-color: #66f881 !important;
}  

.pmd-t-green{
    color: #66f881 !important;
}

.pmd-white{
    background-color: rgb(166, 166, 166) !important;
}  

.pmd-white:hover{
    background-color: #ffffff !important;
}