.share-dialog{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    place-content: center;
    place-items: center;
    z-index: 2000;

    animation: sh-fade-in 0.3s;
}

@keyframes sh-fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.share-dialog-hidden{
    display: none;
}

.share-dialog > div{
    font-size: 16px;
    width: 50vw;
    min-height: 60vh;
    background: linear-gradient(45deg, rgba(0, 10, 10, 1), rgba(10, 0, 0, 1));
    padding: 40px;
    border-radius: 8px;
    border: 1px solid rgba(211, 111, 111, 0.215);
    white-space: pre-wrap;
}


.share-dialog > div > p{
    color:gray;
    padding: 0;
    margin-top:0;
}



.sh-search > input{
    background-color: rgb(6, 8, 6);
    border: 1px solid rgba(211, 111, 111, 0.2); 
    outline:none;
    border-radius: 12px;
    padding:6px 14px;
    margin: 8px 14px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    color:white;
}


.shared-list{
    display: flex;
    flex-direction: column;
    padding:6px 14px;
    margin: 8px 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20vh;
    gap:8px;
    place-items: center;
}

.sh-list-item{
    background: rgb(6, 8, 6);
    border: 1px solid rgba(211, 111, 111, 0.2); 
    width: 75%;
    border-radius: 12px;
    display: flex;
    place-items: center;
    gap:20px;
    padding:0px 20px;
    justify-content: space-between;

}

.sh-search{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
}

.sh-list-item > p{
    font-weight: 500;
}



.share-btn{
    font-size:14px;
    border: none;
    outline: none;
    color:black;
    background-color:  white;
    transition: 0.4s;
    outline: 1px solid white;
    opacity: 0.9;
}

.share-btn:hover{
    background-color:black;
    color:  white;
    opacity: 1;
}

.share-can-btn{
    font-size:14px;
    border: none;
    outline: none;
    background-color:transparent;
    color:  #F45B69;
    transition: 0.4s;
    outline: 1px solid #F45B69;
    opacity: 0.7;
    display: flex;
    place-content: center;
    place-items: center;
    gap:10px;
    min-width: fit-content;
    cursor: pointer;
    border-radius: 14px;
}

.share-can-btn:hover{
    color:white;
    background-color:  #F45B69;
    opacity: 1;
    outline: none;
}




.share-can-btn:hover > img{
    filter: brightness(500%) opacity(0.9);
}

.share-can-btn:disabled,.share-can-btn:disabled:hover,.share-can-btn:disabled > img{
    opacity: 0.5;
    cursor: not-allowed;
    background-color:transparent;
    color:  #F45B69;
    filter:none;
    outline: 1px solid #F45B69;
}

.share-can-btn > img{
    transition: 0.4s;
    border: none;
    outline: none !important;
}


.sh-profile{
    height: 25px;
    width: 25px;
    border-radius: 30px;
}


.sh-remove{
    text-align: right;
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    padding:5px;
    height:25px;
    width: 25px;
}

.sh-remove:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.sh-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    place-items: center;
}

.sh-top > h4{
    margin:0;
    padding:0;
    font-size: 30px;
}

.sh-top > img{
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
    transform: translate(10px,-25px);
}

.sh-top > img:hover{
    opacity: 1;
}


.sh-down-div{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    gap: 20px;
    padding-top: 20px;
    color: gray;
}

.sh-down-anim{
    animation: sh-down 0.5s infinite alternate;
}

@keyframes sh-down {
    0%{
        transform: translateX(-10px) rotate(270deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0px) rotate(270deg);
        opacity: 1;
    }
}