.note-editor{
  margin:0px;
  padding: 8px 12px;
  border-left: 1px solid rgba(228, 128, 128, 0.04);
  border-right: 1px solid rgba(176, 40, 40, 0.06);
  background: linear-gradient(-45deg, rgba(0, 10, 10, 0.1), rgba(10, 0, 0, 0.05));
  border-radius: 30px 60px ;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

.block{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  place-items: center;
  place-content: center;
  cursor:grab;
  gap:2.5px;
}



.b-dragger,.b-add,.b-remove{
  opacity: 0;
  padding:2px 2px;
  width: 20px;
  height: 20px;
  transition: 0.2s;
  border-radius: 20px;

}

.b-remove{
  width: 18px;
  height: 18px;
  padding:4px;
}

.b-dragger[enabled=true],.b-add[enabled=true]{
  position: relative;
  z-index: 100;
  opacity: 1 !important;
}


.block:hover > .b-dragger {
  opacity: 0.7;
  cursor:grab;
}

.block:hover > .b-add,.block:hover > .b-remove {
  opacity: 0.7;
  cursor:pointer;
}



.b-dragger:hover,.b-add:hover,.b-remove:hover{
  opacity: 1 !important;
  background-color: rgba(255,255,255,0.1);
}


.block[editable=false] > .b-dragger,.block[editable=false] > .b-add,.block[editable=false] > .b-remove{
 opacity: 0 !important;
 background-color: transparent;
}




.block:hover > input,.block > input:hover,.img:hover,.block:hover > textarea,.block > textarea:hover{
  background-color: rgba(255,255,255,0.02);
}

.block[editable=false] > input:hover,
.block[editable=false] > .img:hover,
.block[editable=false] > textarea:hover,
.kanban[editable=false]:hover{
  background-color: transparent;
  cursor: text;
}

.block > input:focus,.img:focus,.block > textarea:focus{
    background-color: rgba(255,255,255,0.05);
}


.block > input,.block > textarea,.img{
  display: block;
  width: 95%;
  height: 100%;
  border: none;
  outline:none;
  background-color: transparent;
  color:white;
  border-radius: 4px;
  padding: 0px 12px;
  cursor:text;
}

.drop-spot{
  width: 100%;
  padding: 10px;
  opacity: 0;
}

.drop-spot-inner{
  width: 100%;
  border-top: 4px solid rgba(91, 91, 91, 0.5);
  border-radius: 8px;
}


[drop-enabled=true]{
  opacity: 1;
}


.h1{
  font-size: 42px;
  font-weight: 600;
  font-family: inherit;
}

.h2{
  font-size: 30px;
  font-weight: 500;
  font-family: inherit;
}

.p{
  resize: none;
  font-family: inherit;
  color:rgb(200, 200, 200) !important;
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  overflow: hidden; 
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p > b{
  font-weight:900;
}

.img{
  cursor: pointer;
  padding:18px 12px;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap:10px
}

.img > input{
  background-color: transparent;
  outline: none;
  width: 90%;
  border: none;
  text-align: center;
  color:rgb(81, 81, 81);
  font-size: 14px;
  padding: 2px 0;
  margin:0;
  border-radius:  4px;
}

.img > input:focus{
  background-color: rgba(255, 255, 255, 0.05);
}

.img > img{
  max-width: 90%;
  max-height: 300px;
  border-radius: 4px;
  object-fit: contain;
  transition: 0.8s;
  cursor: pointer;
} 

.img > img:hover{
  filter:grayscale();
}

.img[fullscreen=true]{
  position: absolute;
  top:0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index:9999;
  padding:0;
}

.img[fullscreen=true] > img{
  width: 100vw !important;
  height: 100vh !important;
}


.separator{
  width: 90%;
  border-radius: 10px;
  border-top: 1.5px solid  rgba(244, 91, 104, 0.25)
}




.kanban{
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding:2.5% 1%; 
  width: 100%;
  gap:8px;
  border-radius: 8px;
  transition: 0.4s;
}

.kanban:hover{
  background-color: rgba(255,255,255,0.01);
}


.kanban > section > input{
  background: transparent;
  border: none;
  color:white;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  padding:8px 16px;
  margin-bottom: 10px;
}

.kb-lower{
  display: grid;
  width: 100%;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr ;
  gap:16px;
}

.kb-lower > section{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  width: 100%;
  padding:0;
}

.kb-lower > section > h4{
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin:0;
  padding:10px;
}

.kb-lower > section > input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  color:white;
  outline: none;
  font-family: inherit;
  font-size: 14px;

  padding:10px 16px;
  padding-top: 12px;
}

.kb-lower > section > ul{
  min-height: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  padding:8px;
  margin:0;
  font-family: inherit;
  font-size: 14px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: flex-start;
  place-items: flex-start;
}

.kb-task{
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: row;
  gap:10px;
  background-color: rgba(255,255,255,0.05);
  padding:8px 10px;
  margin:4px;
  width: 90%;
  border-radius: 8px;
  justify-content: space-between;
  padding-left: 16px;
}

.kb-task >div{
  display: flex;
  flex-direction: row;
  gap:4px;
}

.rt180{
  transform: rotate(180deg);
}

.kb-name{
  margin:0;
  padding:0;
  text-align: left;
  font-size: 14px;
}

.kb-due{
  width: 100%;
  padding:1px 2px;
  background-color: rgba(255,255,255,0.05);
  color: #888888;
  text-align: left;
  font-size: 10px;
  margin: 0;
  border-radius: 10px;
  transition: 0.4s;
}


.kb-due:hover{
  color: #f77f89;
}

.kb-rm{
  background: rgb(0, 0, 0);
  padding:3px;
  border-radius: 4px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: 0.4s;
  filter:opacity(0.6) brightness(500%) grayscale();
}

.kb-rm:hover{
  background-color: rgba(0, 0, 0,0.4);
  filter:none
}



.kb-lower >section:nth-child(1)>h4{
  border: 0.5px solid #F45B69;
  background-color: #f45b6823;
}

.kb-lower >section:nth-child(2)>h4{
  border: 0.5px solid rgb(255, 239, 65);
  background-color: rgba(255, 239, 65, 0.1);
}

.kb-lower >section:nth-child(3)>h4{
  border: 0.5px solid rgb(127, 249, 127);
  background-color: rgba(127, 249, 127, 0.1);

}

.kb-lower >section:nth-child(4)>h4{
  border: 0.5px solid rgb(147, 234, 252);
  background-color: rgba(147, 234, 252, 0.1);
}


.code{
  margin: 1%;
  padding:16px 24px;
  padding-bottom: 8px;
  padding-top:8px;
  background-color: rgba(6, 8, 6, 0.6);
  border-radius: 8px;
  width: 100%;

  border: 1px solid rgba(128, 128, 128, 0.1);
  transition: 0.4s;
}

.code > *> *{cursor:text;}

.code:hover{
  background-color: rgba(255,255,255,0.01);
}


.cd-flex{
  font-size: 13px;
  color:#434343;
  font-family: inherit;
  font-weight: 500;
  padding-bottom:8px;
  display: flex;
  justify-content: space-between;
}

.cd-logo{
  padding-top: 8px;
  display: flex;
  place-items: center;
  place-content: center;
  font-size: 8px;
  font-weight: 400;
  color:#4c4c4c;
  opacity: 0.4;
  letter-spacing: 1.5px;
}

.cd-logo > img{
  object-fit: contain;
  width: 7px;
  height: 7px;
  position: relative;
  top:0;
  left: 0;
  padding: 0;
  margin: 0 1px;
  background-color: #4c4c4c;
  border-radius: 11px;
  padding:1px;
  filter: grayscale() opacity(0.6);
}


.cd-copy{
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
  gap: 6px;
  font-size: 12px;
}


.cd-copy >img{
  width: 18px;
  height: 18px;
  padding:4px;
  background-color: #4c4c4c;
  opacity: 0.2;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.cd-copy>img:hover{
  opacity: 0.4;
}


.cd-flex > div > select{
  font-size: 12px;
  font:inherit;
  padding:4px 12px;
  color: gray;
  outline: none;
  border: none;
  border-radius: 8px;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.1);
}


.cd-collapse{
  position: relative;
  top:0px;
  

  width: 18px;
  height: 18px;
  padding:4px;
  background-color: #ffffffe2 !important;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;

  transform: rotate(90deg);
  transition: 0.4s;
}

.cd-rot{
  transition: 0.4s;
  transform: rotate(270deg);
}

.cd-collapse:hover{
  background-color: #ffffff !important;
}





.block-creator{
  position: absolute;
  top:0;
  left: 0;
  padding:12px ;
  border-radius: 8px;
  background: rgb(16,16,16);
  z-index: 99;
  filter:drop-shadow(0 0 16px rgba(233, 120, 120, 0.1));
  border: 1px solid rgb(30, 30,30);
}

.block-creator > div{
  display:  flex;
  flex-direction: row;
  place-items: center;
  gap:16px;
  padding:4px;
  transition: 0.4s;
  opacity: 0.6;
}

.block-creator > div:hover{
  color:#F45B69;
  background: rgb(26,28,26);
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}



.block-creator > div > img{
  width: 25px;
  height: 25px;
  filter:brightness(500%);
  transition: 0.4s;
}

.block-creator > div:hover > img{
  filter:none;
}


.block-creator > div > p{
  padding: 0;
  margin:0;
  font-family: inherit;
  font-size: 15px;
}




.toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap:5px;
    background: rgb(16,18,16);
    filter:drop-shadow(0 0 16px rgba(233, 120, 120, 0.1));
    text-align: center;
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(30, 30,30);

    
    transform: translateX(-50%);
  }

  .toolbar >img{
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
  }

  .toolbar > img:hover{
    opacity: 1;
  }



