.p{
    resize: none;
    font-family: inherit;
    color:rgb(200, 200, 200) !important;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    overflow: hidden; 
    padding: 0px !important;
  }
  
  .p > b{
    font-weight:900;
  }
  




.grow-wrap {
  display: grid;
  resize: none;
    font-family: inherit;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    overflow: hidden; 
    padding: 10px;
    transition: 0.2s;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  cursor: text;

}
.grow-wrap > textarea,
.grow-wrap::after {
  border: none;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}
